
.about-myself {
  border-top-right-radius: 70px;
  display: flex;
  flex-direction: column;
}

.about-myself > .social_wrapper {
  margin: 3px 0;
}

.about-myself h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--black);
  margin: 0 0 0 12px;
}

.about-myself_elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.about-myself_menu-wrapper {
  width: 100%;
}

.languages-title {
  padding: 24px 0 20px;
}

.languages-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  width: 100%;
}

.languages-wrapper > li {
  background-color: var(--language-background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  font-weight: 500;
  font-size: 15px;
}

.languages-wrapper img {
  width: 48px;
  height: 48px;
}

.about-myself_menu-item {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding-right: 50px;
  user-select: none;
  cursor: pointer;
}

.expanded > .about-myself_menu-item {
  border: none;
}

.expanded > .about-myself_menu-item > img {
  rotate: 90deg;
}
