<form
  style="background-image: url(images/desktop-contact-form-background.svg)"
  class="bg-primary p-3 d-flex flex-column justify-content-center align-items-center"
  action="https://formspree.io/f/xqkjrppo"
  method="post"
>
  <article>
    <h2 class="fw-bold display-2 text-center mt-5">Contact me</h2>
    <p class="text-light text-center">
      If you have an application you are interested in developing, a feature
      that you need built or a project that needs coding. I’d love to help with
      it
    </p>
  </article>
  <article class="d-flex flex-column w-25">
    <label for="name"></label>
    <input
      class="rounded-1 border-0 border w-100 mb-3"
      id="name"
      name="name"
      type="text"
      placeholder="Yeremias"
      maxlength="30"
      required
    />
    <input
      class="rounded-1 border-0 border w-100 mb-3"
      id="email"
      name="email"
      type="email"
      placeholder="natajayanj14@gmail.com"
      required
    />
    <label for="message"></label>
    <textarea
      class="rounded-1 border-0 border w-100"
      name="message"
      id="message"
      maxlength="500"
      placeholder="Write your message here"
      required
    ></textarea>
    <button
      type="submit"
      class="btn-light rounded-2 text-primary bg-light border-0 px-3 py-1 my-4 w-100"
    >
      Get In Touch
    </button>
  </article>
</form>