<header class="header-container">
  <a href="#" class="logo">My Logo </a>
  <nav>
    <img class="mobile-nav" src="images/Union.png" alt="" />
    <ul class="desktop-nav">
      <li>Portfolio</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>
<div class="container">
  <section aria-labelledby="basic-introduction" class="hero">
    <h1 id="basic-introduction">I’m Malik Glad to see you!</h1>
    <p class="hero-text">
      I’m a software developer! I can help you build a product , feature or
      website Look through some of my work and experience! If you like what you
      see and have a project you need coded, don’t hestiate to contact me.
    </p>
    <article>
      <h3>LET’S CONNECT</h3>
      <ul class="social-media">
        <li>
          <a href="#">
            <img src="images/Vector.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Linkedin icon.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector m.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector (2).png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector (3).png" alt="" />
          </a>
        </li>
      </ul>
    </article>
  </section>
</div>
<section aria-labelledby="about-myself" class="about-myself about-box">
  <article>
    <h2 id="about-myself" class="heading-about">About Myself</h2>
    <p class="hero-text">
      Hello I’m a software developer! I can help you build a product , feature
      or website Look through some of my work and experience! If you like what
      you see and have a project you need coded, don’t hestiate to contact me.
    </p>
    <article>
      <h3>LET’S CONNECT</h3>
      <ul class="social-media">
        <li>
          <a href="#">
            <img src="images/Vector.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Linkedin icon.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector m.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector (2).png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector (3).png" alt="" />
          </a>
        </li>
      </ul>
    </article>
    <button class="btn btn--normal">Get my resume</button>
  </article>
  <article>
    <div class="frameworks">
      <h5 class="framework-heading">Languages</h5>
      <img class="arrow" src="images/arrow.png" alt="" />
    </div>
    <ul class="language-box">
      <li class="language-frame">
        <img class="ellipse" src="images/Ellipse 1.png" alt="" />
        <h4 class="ellipse-text">JavaSript</h4>
      </li>
      <li class="language-frame">
        <img class="ellipse" src="images/Ellipse 1 (1).png" alt="" />
        <h4 class="ellipse-text">HTML</h4>
      </li>
      <li class="language-frame">
        <img class="ellipse" src="images/Ellipse 1 (2).png" alt="" />
        <h4 class="ellipse-text">CSS</h4>
      </li>
    </ul>
    <div class="frameworks">
      <h5 class="framework-heading">Frameworks</h5>
      <img class="arrow" src="images/arrow.png" alt="" />
    </div>
    <hr />
    <div class="frameworks">
      <h5 class="framework-heading">Skills</h5>
      <img class="arrow" src="images/arrow.png" alt="" />
    </div>
    <hr />
  </article>
</section>
