<header class="header-container">
  <a href="#" class="logo">My Logo </a>
  <nav>
    <img class="mobile-nav" src="images/Union.png" alt="" />
    <ul class="desktop-nav">
      <li>Portfolio</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
</header>
<div class="container">
  <section aria-labelledby="basic-introduction" class="hero">
    <h1 id="basic-introduction">I’m Malik Glad to see you!</h1>
    <p class="hero-text">
      I’m a software developer! I can help you build a product , feature or
      website Look through some of my work and experience! If you like what you
      see and have a project you need coded, don’t hestiate to contact me.
    </p>
    <article>
      <h3>LET’S CONNECT</h3>
      <ul class="social-media">
        <li>
          <a href="#">
            <img src="images/Vector.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Linkedin icon.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector m.png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector (2).png" alt="" />
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/Vector (3).png" alt="" />
          </a>
        </li>
      </ul>
    </article>
  </section>
</div>

<section title="portfolio-snapshot" class="card-works-box">
  <article class="card-work flex-order">
    <picture>
      <source
        media="(min-width:1230px)"
        srcset="images/desktop-snapshot-1.svg"
      />
      <source
        media="(min-width:400px)"
        srcset="images/mobile-Snapshoot-1.svg"
      />
      <img src="images/mobile-Snapshoot-1.svg" alt="" />
    </picture>
    <div class="card-info-box">
      <h2 class="client-title">Tonic</h2>
      <ul class="client">
        <li class="client-name">CANOPY</li>
        <li><div class="counter"></div></li>
        <li class="client-info">Back End Dev</li>
        <li><div class="counter"></div></li>
        <li class="client-info">2015</li>
      </ul>
      <p class="clint-info-text">
        A daily selection of privately personalized reads; no accounts or
        sign-ups required.
      </p>
      <ul class="framework-box">
        <li class="framework btn--normal">html</li>
        <li class="framework btn--normal">css</li>
        <li class="framework btn--normal">javascript</li>
      </ul>
      <div><button class="btn btn--normal btn-card">See Project</button></div>
    </div>
  </article>
  <article class="card-work flex-order-reveerse">
    <picture>
      <source
        media="(min-width:1230px)"
        srcset="images/desktop-snapshot-2.svg"
      />
      <source
        media="(min-width:400px)"
        srcset="images/mobile-Snapshoot-2.svg"
      />
      <img src="images/mobile-Snapshoot-1.svg" alt="" />
    </picture>
    <div class="card-info-box">
      <h2 class="client-title">Multi-Post Stories</h2>
      <ul class="client">
        <li class="client-name">CANOPY</li>
        <li><div class="counter"></div></li>
        <li class="client-info">Back End Dev</li>
        <li><div class="counter"></div></li>
        <li class="client-info">2015</li>
      </ul>
      <p class="clint-info-text">
        A daily selection of privately personalized reads; no accounts or
        sign-ups required.
      </p>
      <ul class="framework-box">
        <li class="framework btn--normal">html</li>
        <li class="framework btn--normal">css</li>
        <li class="framework btn--normal">javascript</li>
      </ul>
      <div><button class="btn btn--normal btn-card">See Project</button></div>
    </div>
  </article>
  <article class="card-work flex-order">
    <picture>
      <source
        media="(min-width:1230px)"
        srcset="images/desktop-snapshot-3.svg"
      />
      <source
        media="(min-width:400px)"
        srcset="images/mobile-Snapshoot-3.svg"
      />
      <img src="images/mobile-Snapshoot-1.svg" alt="" />
    </picture>
    <div class="card-info-box">
      <h2 class="client-title">Tonic</h2>
      <ul class="client">
        <li class="client-name">CANOPY</li>
        <li><div class="counter"></div></li>
        <li class="client-info">Back End Dev</li>
        <li><div class="counter"></div></li>
        <li class="client-info">2015</li>
      </ul>
      <p class="clint-info-text">
        A daily selection of privately personalized reads; no accounts or
        sign-ups required.
      </p>
      <ul class="framework-box">
        <li class="framework btn--normal">html</li>
        <li class="framework btn--normal">css</li>
        <li class="framework btn--normal">javascript</li>
      </ul>
      <div><button class="btn btn--normal btn-card">See Project</button></div>
    </div>
  </article>
  <article class="card-work flex-order-reveerse">
    <picture>
      <source
        media="(min-width:1230px)"
        srcset="images/desktop-snapshot-4.svg"
      />
      <source
        media="(min-width:400px)"
        srcset="images/mobile-Snapshoot-4.svg"
      />
      <img src="images/mobile-Snapshoot-1.svg" alt="" />
    </picture>
    <div class="card-info-box">
      <h2 class="client-title">Multi-Post Stories</h2>
      <ul class="client">
        <li class="client-name">CANOPY</li>
        <li><div class="counter"></div></li>
        <li class="client-info">Back End Dev</li>
        <li><div class="counter"></div></li>
        <li class="client-info">2015</li>
      </ul>
      <p class="clint-info-text">
        A daily selection of privately personalized reads; no accounts or
        sign-ups required.
      </p>
      <ul class="framework-box">
        <li class="framework btn--normal">html</li>
        <li class="framework btn--normal">css</li>
        <li class="framework btn--normal">javascript</li>
      </ul>
      <div><button class="btn btn--normal btn-card">See Project</button></div>
    </div>
  </article>
</section>
